<h1>You are now viewing the comments for <%= @current_post.title %></h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Comment
      </th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |cmnt| %>
    <tr>
      <td>
      <%= cmnt.body %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "create new comment", "/links/#{@current_post.title}/new" %> <br>
<%= link_to "go back to all links", links_path %>
